
/*
Configuracoes Reset da Página
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #124975;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
    width: 250px;
    text-align: start;
    background-color: #DBF2FF;
    font-weight: 500;
}

.lista-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    align-items: center;
}

.img-links {
    height: 16px;
    width: 16px;
    margin-left: 16px;
    
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-size: 16px;
    border-radius: 9px;
    background-color: #617999;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
}

button:hover {
    background-color: #516585;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
/*
-----------------------------------
*/

.conteudo {
    text-align: center;
    margin-top: -760px;
    margin-right: 757px;
    overflow: visible;
}

.conteudo h1 {
    color: #DBF2FF;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 2px;
    white-space: nowrap;
}

.conteudo hr {
    margin: 0 auto;
    max-width: 85%;
}





