@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.rodagrafico-container {
    width: 100%;
    max-width: 250px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    color: white;
}

.rodagrafico__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: darkorchid;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.roda__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: 0.2s ease-out;
}

.roda__cover {
    width: 75%;
    height: 150%;
    background: #124975;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    /*Texto*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}