@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #124975;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: "Josefin Sans", sans-serif;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
    width: 250px;
    text-align: start;
    background-color: #DBF2FF;
    font-weight: 500;
}

.lista-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:  center;
    justify-content: center;
    margin-top: 40px;

}

.lista-links a {
    text-decoration: none; /* Remove o sublinhado do link */
}

.link-recomendacoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-links{
    height: 16px;
    width: 16px;
    margin-left: 16px;
}

 aside button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-size: 16px;
    border-radius: 9px;
    background-color: #617999;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s;
}

aside button:hover{
    background-color: #516585;
    transform: scale(1.05);
}

.logo{
   width: 150px;
   height: auto;
   margin-bottom: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.conteudo h1{
    font-size: 48px;
    font-weight: 600;
    color: #DBF2FF;
    margin-bottom: 20px;
}


.conteudo{
    text-align: center;
    margin-top: -250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.conteudo input{
    padding: 20px 15px;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
    outline: none;
    background-color: rgba(97, 121, 153, 0.13);
    font-family: "Josefin Sans", sans-serif;
    color: #DBF2FF;
    box-sizing: border-box;
}

.token-button {
    padding: 24px 90px;
    border-radius: 10px;
    border: none;
    margin-top: 16px;
    cursor: pointer;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: solid;
    background-color: #DBF2FF;
}

.token-button:hover {
    background-color: #C0E1FA;
}






